In [1]:
import pandas as pd

# Append feature dictionary to combined dataframe

In [2]:
csv_file_path = 'combined_dataframe.csv'
df = pd.read_csv(csv_file_path)
print(len(df))
df.head()

918909

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0

In [3]:
dict_file_path = 'feature_dict.csv'
dict = pd.read_csv(dict_file_path)

print(len(dict))
dict.head()

9013

,address,commercial,market_hawker,multistorey_carpark,precinct_pavilion,total_dwelling_units,postal,planning_area,mall_nearest_distance,hawker_nearest_distance,...,bus_stop_nearest_distance,bus_stop_name,pri_sch_nearest_distance,pri_sch_name,vacancy,pri_sch_affiliation,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation
0,"3B, UPP BOON KENG RD",0,0,0,0,142,382003,Kallang,1094.090418,154.753357,...,29.427395,Blk 3B,1138.633422,Geylang Methodist School,78,1,1138.633422,Geylang Methodist School,224,0
1,"153, BISHAN ST 13",0,0,0,0,112,570153,Bishan,866.941448,640.151925,...,58.207761,BLK 151A MKT,415.607357,Kuo Chuan Presbyterian Primary School,45,1,447.894399,Kuo Chuan Presbyterian Secondary School,232,0
2,"289B, BT BATOK ST 25",0,0,0,0,90,651289,Bukit Batok,1459.579948,1762.082341,...,214.747860,Blk 289E,498.849039,Keming Primary School,39,0,180.074558,Yusof Ishak Secondary School,188,0
3,"232, BISHAN ST 22",1,0,0,0,75,570232,Bishan,950.175199,726.215262,...,43.396521,Opp Bishan Nth Shop Mall,389.515528,Catholic High School,20,1,389.515528,Catholic High School,253,1
4,"876, YISHUN ST 81",0,0,0,0,48,760876,Yishun,729.771895,1540.151439,...,129.422752,Blk 873,401.200584,Naval Base Primary School,74,0,312.025435,Orchid Park Secondary School,208,0

In [4]:
# Create a new column by concatenating 'block' and 'street_name'
df['address'] = df['block'] + ', ' + df['street_name']

# Find the number of distinct addresses in the DataFrame
num_distinct_addresses = df['address'].nunique()

# Print the number of distinct addresses
print("Number of distinct addresses:", num_distinct_addresses)

df.head()

Number of distinct addresses: 9816

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,address
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,"309, ANG MO KIO AVE 1"
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,"309, ANG MO KIO AVE 1"
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,"309, ANG MO KIO AVE 1"
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,"309, ANG MO KIO AVE 1"
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,"216, ANG MO KIO AVE 1"

In [5]:
# Find unique addresses in df['address']
unique_addresses_combined = set(df['address'])

# Find unique addresses in df['address']
unique_addresses_df = set(dict['address'])

# Find unique addresses in combined_df['address'] but not in df['address']
unique_addresses_only_combined = unique_addresses_combined - unique_addresses_df

# Print unique addresses only in combined_df['address'] but not in df['address']
for address in unique_addresses_only_combined:
    print(address)

286B, COMPASSVALE CRES
672A, YISHUN AVE 4
3, LIM CHU KANG RD
89, LOR 2 TOA PAYOH
817A, KEAT HONG LINK
22, OUTRAM PK
443D, BT BATOK WEST AVE 8
801C, KEAT HONG CL
287B, COMPASSVALE CRES
293C, BT BATOK ST 21
188C, BEDOK NTH ST 4
72, C'WEALTH DR
339, ANG MO KIO AVE 1
462B, YISHUN AVE 6
818A, CHOA CHU KANG AVE 1
248, ANG MO KIO AVE 2
182A, WOODLANDS ST 13
323A, SUMANG WALK
221A, SUMANG LANE
438B, BT BATOK WEST AVE 8
508A, YISHUN AVE 4
217B, BOON LAY AVE
93A, TELOK BLANGAH ST 31
675B, YISHUN AVE 4
83, BEDOK NTH RD
216, BOON LAY AVE
261, TOA PAYOH EAST
326C, SUMANG WALK
294A, COMPASSVALE CRES
114, BT MERAH VIEW
287A, COMPASSVALE CRES
677C, PUNGGOL DR
461A, BT BATOK WEST AVE 8
226B, SUMANG LANE
216D, COMPASSVALE DR
3, EAST COAST RD
661C, EDGEDALE PLAINS
289A, COMPASSVALE CRES
507A, YISHUN AVE 4
5, REDHILL CL
110, BT MERAH VIEW
502D, YISHUN ST 51
30, LOR 5 TOA PAYOH
684B, EDGEDALE PLAINS
131B, LOR 1 TOA PAYOH
662A, EDGEDALE PLAINS
998B, BUANGKOK CRES
448C, BT BATOK WEST AVE 9
252, ANG MO KIO AVE 4
113, LENGKONG TIGA
450B, BT BATOK WEST AVE 6
19, REDHILL CL
803A, KEAT HONG CL
1, JLN PASAR BARU
274A, COMPASSVALE BOW
138, SERANGOON NTH AVE 2
682B, EDGEDALE PLAINS
606A, TAMPINES ST 61
231B, SUMANG LANE
292B, BT BATOK EAST AVE 6
63, SIMS PL
442B, BT BATOK WEST AVE 8
470B, FERNVALE LINK
293A, COMPASSVALE CRES
442C, FAJAR RD
544, JURONG WEST ST 42
286A, COMPASSVALE CRES
804A, KEAT HONG CL
7, REDHILL CL
691B, WOODLANDS DR 73
805B, KEAT HONG CL
606B, TAMPINES ST 61
673C, YISHUN AVE 4
5, SEMBAWANG RD
167, BOON LAY DR
8, REDHILL CL
451A, BT BATOK WEST AVE 6
56, TEBAN GDNS RD
878A, TAMPINES AVE 8
262, TOA PAYOH EAST
808A, CHOA CHU KANG AVE 1
296C, BT BATOK ST 22
878B, TAMPINES AVE 8
808C, CHOA CHU KANG AVE 1
409, CLEMENTI AVE 1
494G, TAMPINES ST 45
5, SELETAR WEST FARMWAY 6
605C, TAMPINES ST 61
188B, BEDOK NTH ST 4
327A, SUMANG WALK
256D, SUMANG WALK
15, REDHILL CL
5, TIONG BAHRU RD
316C, PUNGGOL WAY
220A, SUMANG LANE
816B, KEAT HONG LINK
171, BOON LAY DR
129A, CANBERRA ST
104A, CANBERRA ST
70B, TELOK BLANGAH HTS
672B, YISHUN AVE 4
327C, SUMANG WALK
351C, ANCHORVALE RD
991B, BUANGKOK LINK
38, DOVER RD
120A, CANBERRA CRES
107, LENGKONG TIGA
662B, EDGEDALE PLAINS
172, BOON LAY DR
346, JURONG EAST ST 31
216C, COMPASSVALE DR
443B, BT BATOK WEST AVE 8
417A, FERNVALE LINK
227A, SUMANG LANE
677B, YISHUN RING RD
121D, CANBERRA ST
121C, CANBERRA ST
309, ANG MO KIO AVE 1
449A, BT BATOK WEST AVE 9
216A, BOON LAY AVE
8, UPP BOON KENG RD
145, HU CHING RD
326, JURONG EAST ST 31
683A, EDGEDALE PLAINS
436A, BT BATOK WEST AVE 5
727, CLEMENTI WEST ST 2
461B, BT BATOK WEST AVE 8
512A, YISHUN ST 51
288A, COMPASSVALE CRES
6, REDHILL CL
122A, EDGEDALE PLAINS
661A, EDGEDALE PLAINS
676B, PUNGGOL DR
401, CLEMENTI AVE 1
24, JLN MEMBINA BARAT
222A, SUMANG LANE
999B, BUANGKOK CRES
362C, SEMBAWANG CRES
809, HOUGANG CTRL
96, MARGARET DR
226F, ANG MO KIO AVE 1
90B, TELOK BLANGAH ST 31
51, NILE RD
322A, SUMANG WALK
560A, JURONG WEST ST 42
803B, KEAT HONG CL
115D, CANBERRA WALK
220B, SUMANG LANE
997A, BUANGKOK CRES
513D, YISHUN ST 51
1, ROCHOR RD
1A, WOODLANDS CTR RD
217B, SUMANG WALK
104D, CANBERRA ST
128C, CANBERRA ST
555, ANG MO KIO AVE 10
693A, WOODLANDS AVE 6
440, CLEMENTI AVE 3
166A, YUNG KUANG RD
11, REDHILL CL
194A, BT BATOK WEST AVE 6
129C, CANBERRA ST
75, C'WEALTH DR
366B, SEMBAWANG CRES
673A, YISHUN AVE 4
217A, COMPASSVALE DR
232A, SUMANG LANE
7, TEBAN GDNS RD
818B, CHOA CHU KANG AVE 1
508B, YISHUN AVE 4
313, CLEMENTI AVE 4
682A, EDGEDALE PLAINS
813A, YISHUN RING RD
107A, CANBERRA ST
418C, FERNVALE LINK
445, CLEMENTI AVE 3
163B, RIVERVALE CRES
9, TIONG BAHRU RD
93B, TELOK BLANGAH ST 31
815B, CHOA CHU KANG AVE 7
992B, BUANGKOK LINK
91A, TELOK BLANGAH ST 31
131A, LOR 1 TOA PAYOH
128B, CANBERRA ST
293C, COMPASSVALE CRES
809A, CHOA CHU KANG AVE 1
113, BT MERAH VIEW
76, C'WEALTH DR
111, BT MERAH VIEW
511B, YISHUN ST 51
150A, CORPORATION DR
783A, WOODLANDS RISE
677A, YISHUN RING RD
995B, BUANGKOK CRES
165B, YUNG KUANG RD
807C, CHOA CHU KANG AVE 1
108C, CANBERRA WALK
511A, YISHUN ST 51
216A, COMPASSVALE DR
217, BOON LAY AVE
678C, PUNGGOL DR
809B, CHOA CHU KANG AVE 1
376C, HOUGANG ST 32
469A, YISHUN ST 43
364B, UPP SERANGOON RD
19, ST. GEORGE'S RD
142, TIONG BAHRU RD
140B, CORPORATION DR
455C, ANG MO KIO ST 44
26A, ST. GEORGE'S LANE
216B, COMPASSVALE DR
365C, UPP SERANGOON RD
8B, UPP BOON KENG RD
45, JLN BAHAGIA
88, ZION RD
674A, YISHUN AVE 4
217A, BOON LAY AVE
104B, CANBERRA ST
260A, ANG MO KIO ST 21
186B, BEDOK NTH ST 4
889A, WOODLANDS DR 50
216B, BOON LAY AVE
7, YUNG KUANG RD
91, ZION RD
130A, CANBERRA CRES
105, DEPOT RD
676D, PUNGGOL DR
1, REDHILL CL
2, SELETAR WEST FARMWAY 6
130A, LOR 1 TOA PAYOH
530, ANG MO KIO AVE 10
31, TAMAN HO SWEE
442C, BT BATOK WEST AVE 8
671B, YISHUN AVE 4
95B, HENDERSON RD
697A, JURONG WEST CTRL 3
590A, ANG MO KIO ST 51
462C, YISHUN AVE 6
698A, JURONG WEST CTRL 3
935, JURONG WEST ST 91
512C, YISHUN ST 51
365A, SEMBAWANG CRES
561B, JURONG WEST ST 42
13, SHORT ST
377, BT BATOK ST 31
435B, BT BATOK WEST AVE 5
802C, KEAT HONG CL
52, CASSIA CRES
23, KG BAHRU HILL
187A, BEDOK NTH ST 4
208A, CLEMENTI AVE 6
256A, SUMANG WALK
802B, KEAT HONG CL
815C, CHOA CHU KANG AVE 7
440A, CLEMENTI AVE 3
606C, TAMPINES ST 61
221B, SUMANG LANE
2A, WOODLANDS CTR RD
455B, ANG MO KIO ST 44
188A, BEDOK NTH ST 4
364A, UPP SERANGOON RD
54, TANGLIN HALT RD
314B, PUNGGOL WAY
70A, TELOK BLANGAH HTS
2, GEYLANG SERAI
90A, TELOK BLANGAH ST 31
316, HOUGANG AVE 7
450C, BT BATOK WEST AVE 6
18, REDHILL CL
365B, SEMBAWANG CRES
52, TANGLIN HALT RD
115B, CANBERRA WALK
996B, BUANGKOK CRES
402, CLEMENTI AVE 1
120D, CANBERRA CRES
4, ROCHOR RD
263, TOA PAYOH EAST
453B, BT BATOK WEST AVE 6
591A, ANG MO KIO ST 51
185B, WOODLANDS ST 13
338C, ANCHORVALE CRES
573A, WOODLANDS DR 16
676A, PUNGGOL DR
10B, BENDEMEER RD
67, C'WEALTH DR
187B, BEDOK NTH ST 4
889D, WOODLANDS DR 50
805A, KEAT HONG CL
120B, EDGEDALE PLAINS
233A, SUMANG LANE
702, ANG MO KIO AVE 8
6, YUNG PING RD
105A, DEPOT RD
454, ANG MO KIO AVE 10
316A, PUNGGOL WAY
327B, SUMANG WALK
158, ANG MO KIO AVE 4
166, LOR 1 TOA PAYOH
365D, UPP SERANGOON RD
455, ANG MO KIO AVE 10
441A, BT BATOK WEST AVE 8
502C, YISHUN ST 51
316, ANG MO KIO AVE 1
312B, CLEMENTI AVE 4
351B, ANCHORVALE RD
184A, WOODLANDS ST 13
691C, WOODLANDS DR 73
119B, CANBERRA CRES
783C, WOODLANDS RISE
121B, CANBERRA ST
32, GHIM MOH LINK
801B, KEAT HONG CL
71, C'WEALTH DR
323C, SUMANG WALK
293B, COMPASSVALE CRES
315A, PUNGGOL WAY
675A, YISHUN AVE 4
462D, YISHUN AVE 6
502B, YISHUN ST 51
20, REDHILL CL
46, BEDOK STH AVE 3
218A, BOON LAY AVE
879B, TAMPINES AVE 8
226C, SUMANG LANE
308, CHOA CHU KANG AVE 4
509B, YISHUN AVE 4
33, GHIM MOH LINK
997B, BUANGKOK CRES
455A, ANG MO KIO ST 44
113C, MCNAIR RD
7, UPP ALJUNIED LANE
906, TAMPINES AVE 4
506C, YISHUN AVE 4
441B, BT BATOK WEST AVE 8
8, YUNG KUANG RD
217A, SUMANG WALK
805D, KEAT HONG CL
183A, WOODLANDS ST 13
53, STRATHMORE AVE
6, HILLVIEW AVE
307, ANG MO KIO AVE 1
801A, KEAT HONG CL
661B, EDGEDALE PLAINS
5, TEBAN GDNS RD
11, GHIM MOH RD
217D, SUMANG WALK
119, ALJUNIED AVE 2
673B, YISHUN AVE 4
183B, WOODLANDS ST 13
658A, PUNGGOL EAST
107, DEPOT RD
340, ANG MO KIO AVE 1
531, ANG MO KIO AVE 10
440C, BT BATOK WEST AVE 8
18B, CIRCUIT RD
173, STIRLING RD
8A, UPP BOON KENG RD
10A, BENDEMEER RD
676A, YISHUN RING RD
12, REDHILL CL
278A, COMPASSVALE BOW
684A, EDGEDALE PLAINS
17, HOLLAND DR
890B, WOODLANDS DR 50
325A, SUMANG WALK
163C, RIVERVALE CRES
107B, CANBERRA ST
407, CLEMENTI AVE 1
167, LOR 1 TOA PAYOH
288C, COMPASSVALE CRES
671A, YISHUN AVE 4
473A, UPP SERANGOON CRES
233B, SUMANG LANE
697B, JURONG WEST CTRL 3
247, ANG MO KIO AVE 3
10, REDHILL CL
314A, PUNGGOL WAY
492G, TAMPINES ST 45
121B, EDGEDALE PLAINS
659A, PUNGGOL EAST
27A, C'WEALTH AVE
677D, PUNGGOL DR
462A, YISHUN AVE 6
683B, EDGEDALE PLAINS
446A, BT BATOK WEST AVE 8
435C, BT BATOK WEST AVE 5
10, YUNG KUANG RD
293D, BT BATOK ST 21
130B, CANBERRA CRES
805C, KEAT HONG CL
208B, CLEMENTI AVE 6
991A, BUANGKOK LINK
293A, BT BATOK ST 21
441C, BT BATOK WEST AVE 8
16, REDHILL CL
721, CLEMENTI WEST ST 2
107, WOODLANDS ST 13
79, TOA PAYOH CTRL
662D, EDGEDALE PLAINS
3, TIONG BAHRU RD
440B, CLEMENTI AVE 3
164B, RIVERVALE CRES
8, HILLVIEW AVE
812C, CHOA CHU KANG AVE 7
676C, PUNGGOL DR
219, BOON LAY AVE
74, C'WEALTH DR
57, TEBAN GDNS RD
3, TEBAN GDNS RD
323, CLEMENTI AVE 5
450A, BT BATOK WEST AVE 6
889B, WOODLANDS DR 50
140A, CORPORATION DR
292C, BT BATOK EAST AVE 6
54, NILE RD
668, HOUGANG AVE 8
315, HOUGANG AVE 5
130B, LOR 1 TOA PAYOH
182B, WOODLANDS ST 13
116, POTONG PASIR AVE 1
164A, RIVERVALE CRES
439C, BT BATOK WEST AVE 8
366A, SEMBAWANG CRES
473B, UPP SERANGOON CRES
509A, YISHUN AVE 4
218D, BOON LAY AVE
312A, CLEMENTI AVE 4
506A, YISHUN AVE 4
54, SIMS DR
451B, BT BATOK WEST AVE 6
164A, YUNG KUANG RD
513A, YISHUN ST 51
39A, C'WEALTH AVE
107C, CANBERRA ST
18C, CIRCUIT RD
36, DOVER RD
120C, CANBERRA CRES
256B, SUMANG WALK
501B, YISHUN ST 51
668A, EDGEFIELD PLAINS
316D, PUNGGOL WAY
18, KG BAHRU HILL
87, DAWSON RD
215, CHOA CHU KANG CTRL
89, ZION RD
315B, PUNGGOL WAY
24, KG BAHRU HILL
6, UPP BOON KENG RD
693C, WOODLANDS AVE 6
325B, SUMANG WALK
512B, YISHUN ST 51
338A, ANCHORVALE CRES
678B, PUNGGOL DR
351A, ANCHORVALE RD
440D, BT BATOK WEST AVE 8
871B, TAMPINES ST 86
684D, EDGEDALE PLAINS
314, CLEMENTI AVE 4
10, TEBAN GDNS RD
574A, WOODLANDS DR 16
215B, COMPASSVALE DR
678A, PUNGGOL DR
817C, KEAT HONG LINK
95A, HENDERSON RD
120B, CANBERRA CRES
890A, WOODLANDS DR 50
18A, CIRCUIT RD
185C, WOODLANDS ST 13
813B, YISHUN RING RD
816A, KEAT HONG LINK
605A, TAMPINES ST 61
439B, BT BATOK WEST AVE 8
227B, SUMANG LANE
311, CLEMENTI AVE 4
224A, SUMANG LANE
104, HOUGANG AVE 1
513C, YISHUN ST 51
470C, FERNVALE LINK
52, STIRLING RD
30, GHIM MOH LINK
224B, SUMANG LANE
293B, BT BATOK ST 21
108B, CANBERRA WALK
691A, WOODLANDS DR 73
3, ROCHOR RD
8C, UPP BOON KENG RD
10, GHIM MOH RD
238, COMPASSVALE WALK
129, GEYLANG EAST AVE 2
7, HILLVIEW AVE
802A, KEAT HONG CL
460A, BT BATOK WEST AVE 9
450D, BT BATOK WEST AVE 6
889C, WOODLANDS DR 50
113B, MCNAIR RD
70C, TELOK BLANGAH HTS
445B, BT BATOK WEST AVE 8
15, HOLLAND DR
691D, WOODLANDS DR 73
78, LOR LIMAU
698B, JURONG WEST CTRL 3
810A, CHOA CHU KANG AVE 7
996A, BUANGKOK CRES
645A, YISHUN ST 61
88, DAWSON RD
202, BISHAN ST 23
113D, MCNAIR RD
73, C'WEALTH DR
308, ANG MO KIO AVE 1
71, REDHILL RD
312C, CLEMENTI AVE 4
7, TIONG BAHRU RD
482, TAMPINES ST 43
453A, BT BATOK WEST AVE 6
530A, PASIR RIS DR 1
170, BOON LAY DR
442A, BT BATOK WEST AVE 8
116B, JLN TENTERAM
172, STIRLING RD
12, SHORT ST
110A, DEPOT RD
92B, TELOK BLANGAH ST 31
801D, KEAT HONG CL
231A, SUMANG LANE
217C, SUMANG WALK
443, CLEMENTI AVE 3
494H, TAMPINES ST 45
19, KG BAHRU HILL
674B, YISHUN AVE 4
129B, CANBERRA ST
289B, COMPASSVALE CRES
675C, YISHUN AVE 4
220, BOON LAY AVE
77, C'WEALTH DR
675D, YISHUN AVE 4
440A, BT BATOK WEST AVE 8
278B, COMPASSVALE BOW
509C, YISHUN AVE 4
672C, YISHUN AVE 4
677B, PUNGGOL DR
811B, CHOA CHU KANG AVE 7
403, CLEMENTI AVE 1
165A, YUNG KUANG RD
296B, BT BATOK ST 22
9, REDHILL CL
61, C'WEALTH DR
96A, HENDERSON RD
658C, PUNGGOL EAST
224C, SUMANG LANE
69, C'WEALTH DR
418A, FERNVALE LINK
233C, SUMANG LANE
996C, BUANGKOK CRES
17, REDHILL CL
784C, WOODLANDS RISE
164C, RIVERVALE CRES
9, JOO SENG RD
140D, CORPORATION DR
31, GHIM MOH LINK
815A, CHOA CHU KANG AVE 7
511C, YISHUN ST 51
217B, COMPASSVALE DR
312, CLEMENTI AVE 4
513B, YISHUN ST 51
812B, CHOA CHU KANG AVE 7
932B, HOUGANG AVE 9
37, MARGARET DR
995C, BUANGKOK CRES
822, YISHUN ST 81
443A, BT BATOK WEST AVE 8
183C, WOODLANDS ST 13
29, HAVELOCK RD
3, REDHILL CL
590B, ANG MO KIO ST 51
6, SELETAR WEST FARMWAY 6
122B, EDGEDALE PLAINS
2, ROCHOR RD
234A, SUMANG LANE
42, STIRLING RD
155, BEDOK STH AVE 3
58, STIRLING RD
1, EAST COAST RD
115C, CANBERRA WALK
784A, WOODLANDS RISE
72, REDHILL RD
165, BT MERAH CTRL
101, LENGKONG TIGA
443C, BT BATOK WEST AVE 8
104C, CANBERRA ST
168, BOON LAY DR
138, ALEXANDRA RD
21, REDHILL CL
274B, COMPASSVALE BOW
785C, WOODLANDS RISE
449B, BT BATOK WEST AVE 9
220C, SUMANG LANE
997C, BUANGKOK CRES
79, C'WEALTH DR
59, SIMS DR
137, ALEXANDRA RD
296A, BT BATOK ST 22
256C, SUMANG WALK
803D, KEAT HONG CL
721, ANG MO KIO AVE 8
717A, WOODLANDS DR 70
78, C'WEALTH DR
662C, EDGEDALE PLAINS
52, JLN BAHAGIA
90, ZION RD
320, BT BATOK ST 33
808B, CHOA CHU KANG AVE 1
110, DEPOT RD
529, ANG MO KIO AVE 10
870A, TAMPINES ST 86
785D, WOODLANDS RISE
659B, PUNGGOL EAST
606D, TAMPINES ST 61
4, LIM CHU KANG RD
694A, WOODLANDS DR 62
338B, ANCHORVALE CRES
321, CLEMENTI AVE 5
697C, JURONG WEST CTRL 3
338, HOUGANG AVE 7
783D, WOODLANDS RISE
103, DEPOT RD
323B, SUMANG WALK
442B, FAJAR RD
677C, YISHUN RING RD
808C, CHAI CHEE RD
288B, COMPASSVALE CRES
698C, JURONG WEST CTRL 3
992A, BUANGKOK LINK
924, JURONG WEST ST 92
68, DAKOTA CRES
494J, TAMPINES ST 45
362B, SEMBAWANG CRES
322D, SUMANG WALK
55, TEBAN GDNS RD
217C, COMPASSVALE DR
163A, RIVERVALE CRES
365C, SEMBAWANG CRES
351D, ANCHORVALE RD
117A, JLN TENTERAM
12, ST. GEORGE'S RD
407, ANG MO KIO AVE 10
14, REDHILL CL
440B, BT BATOK WEST AVE 8
5, YUNG PING RD
215A, COMPASSVALE DR
164, BT MERAH CTRL
452A, BT BATOK WEST AVE 6
933A, HOUGANG AVE 9
5, BUANGKOK STH FARMWAY 1
418B, FERNVALE LINK
135, TECK WHYE LANE
365A, UPP SERANGOON RD
81, MARINE PARADE CTRL
10C, BENDEMEER RD
260B, ANG MO KIO ST 21
995A, BUANGKOK CRES
810B, CHOA CHU KANG AVE 7
302A, WOODLANDS ST 31
16, OUTRAM HILL
186A, BEDOK NTH ST 4
13, TEBAN GDNS RD
784B, WOODLANDS RISE
323D, SUMANG WALK
573C, WOODLANDS DR 16
108A, CANBERRA WALK
278C, COMPASSVALE BOW
811A, CHOA CHU KANG AVE 7
57, C'WEALTH DR
162B, RIVERVALE CRES
530B, PASIR RIS DR 1
998A, BUANGKOK CRES
142, HU CHING RD
51, TANGLIN HALT RD
126, MARSILING RISE
694B, WOODLANDS DR 62
232B, SUMANG LANE
96B, HENDERSON RD
313, HOUGANG AVE 5
13, REDHILL CL
218B, BOON LAY AVE
808D, CHOA CHU KANG AVE 1
7, SELETAR WEST FARMWAY 6
62, SIMS DR
16, HOLLAND DR
879A, TAMPINES AVE 8
676B, YISHUN RING RD
322B, SUMANG WALK
20, UPP BOON KENG RD
785B, WOODLANDS RISE
121A, CANBERRA ST
445A, BT BATOK WEST AVE 8
684C, EDGEDALE PLAINS
473C, UPP SERANGOON CRES
676C, YISHUN RING RD
659C, PUNGGOL EAST
21, OUTRAM PK
803C, KEAT HONG CL
80, C'WEALTH DR
717B, WOODLANDS DR 70
11, SHORT ST
169, BOON LAY DR
119A, CANBERRA CRES
25, NEW UPP CHANGI RD
694D, WOODLANDS DR 62
32, LOWER DELTA RD
322C, SUMANG WALK
68, C'WEALTH DR
264, TOA PAYOH EAST
502A, YISHUN ST 51
70, C'WEALTH DR
113A, MCNAIR RD
2, HILLVIEW AVE
274C, COMPASSVALE BOW
783B, WOODLANDS RISE
115A, CANBERRA WALK
31, DOVER RD
363A, SEMBAWANG CRES
461D, BT BATOK WEST AVE 8
683C, EDGEDALE PLAINS
694C, WOODLANDS DR 62
29, GHIM MOH LINK
22, KG BAHRU HILL
286C, COMPASSVALE CRES
448A, BT BATOK WEST AVE 9
1, UPP ALJUNIED LANE
162A, RIVERVALE CRES
468A, YISHUN ST 43
468A, FERNVALE LINK
804B, KEAT HONG CL
166B, YUNG KUANG RD
501A, YISHUN ST 51
461C, BT BATOK WEST AVE 8
120A, EDGEDALE PLAINS
209, CHOA CHU KANG CTRL
808B, CHAI CHEE RD
234B, SUMANG LANE
24, DOVER CRES
473A, FERNVALE ST
817B, KEAT HONG LINK
53, TANGLIN HALT RD
95C, HENDERSON RD
448B, BT BATOK WEST AVE 9
218C, BOON LAY AVE
574B, WOODLANDS DR 16
140C, CORPORATION DR
473D, UPP SERANGOON CRES
348, JURONG EAST AVE 1
92A, TELOK BLANGAH ST 31
932A, HOUGANG AVE 9
682C, EDGEDALE PLAINS
818C, CHOA CHU KANG AVE 1
573B, WOODLANDS DR 16
1, TIONG BAHRU RD
2, EAST COAST RD
22, REDHILL CL
322, CLEMENTI AVE 5
2, REDHILL CL
292A, BT BATOK EAST AVE 6
129, BISHAN ST 12
117B, JLN TENTERAM
226A, SUMANG LANE
338D, ANCHORVALE CRES
287C, COMPASSVALE CRES
128A, CANBERRA ST
162C, RIVERVALE CRES
469B, YISHUN ST 43
506B, YISHUN AVE 4
10, UPP BOON KENG RD
1, SELETAR WEST FARMWAY 6
520B, TAMPINES CTRL 8
467B, FERNVALE LINK
561A, JURONG WEST ST 42
35, DOVER RD
362A, SEMBAWANG CRES
4, HILLVIEW AVE
807B, CHOA CHU KANG AVE 1
605B, TAMPINES ST 61
194B, BT BATOK WEST AVE 6
365B, UPP SERANGOON RD
232C, SUMANG LANE
812A, CHOA CHU KANG AVE 7
693B, WOODLANDS AVE 6
363B, SEMBAWANG CRES
96, HENDERSON RD
438C, BT BATOK WEST AVE 8
316B, PUNGGOL WAY
33, TAMAN HO SWEE
823, YISHUN ST 81
14, TEBAN GDNS RD
868B, TAMPINES AVE 8
677A, PUNGGOL DR
530D, PASIR RIS DR 1
116A, JLN TENTERAM
658B, PUNGGOL EAST
56, NEW UPP CHANGI RD
410, EUNOS RD 5
437A, BT BATOK WEST AVE 5
19, HOLLAND DR
6, TEBAN GDNS RD

In [6]:
# Perform an inner join between df and feature_dict on the 'address' column
merged_df = pd.merge(df, dict, on='address', how='inner')

# Display the merged DataFrame
merged_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,bus_stop_nearest_distance,bus_stop_name,pri_sch_nearest_distance,pri_sch_name,vacancy,pri_sch_affiliation,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation
0,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0
1,1990-03,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,NEW GENERATION,1976,47000.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0
2,1990-05,ANG MO KIO,4 ROOM,216,ANG MO KIO AVE 1,10 TO 12,88.0,NEW GENERATION,1976,55000.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0
3,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,10 TO 12,73.0,NEW GENERATION,1976,47200.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0
4,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,01 TO 03,73.0,NEW GENERATION,1976,34000.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0

In [7]:
# Check for null values in the merged DataFrame
null_values = merged_df.isnull().sum()

# Display columns with null values
print("Columns with null values:")
print(null_values[null_values > 0])

Columns with null values:
Series([], dtype: int64)

# Feature engineering from merged df

In [8]:
merged_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,bus_stop_nearest_distance,bus_stop_name,pri_sch_nearest_distance,pri_sch_name,vacancy,pri_sch_affiliation,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation
0,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0
1,1990-03,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,NEW GENERATION,1976,47000.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0
2,1990-05,ANG MO KIO,4 ROOM,216,ANG MO KIO AVE 1,10 TO 12,88.0,NEW GENERATION,1976,55000.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0
3,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,10 TO 12,73.0,NEW GENERATION,1976,47200.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0
4,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,01 TO 03,73.0,NEW GENERATION,1976,34000.0,...,177.959294,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0

## Process story_range

In [9]:
# Print out the unique values in the 'storey_range' column
unique_storey_ranges = merged_df['storey_range'].unique()

print("Unique values in the 'storey_range' column:")
print(unique_storey_ranges)

Unique values in the 'storey_range' column:
['04 TO 06' '07 TO 09' '10 TO 12' '01 TO 03' '06 TO 10' '01 TO 05'
 '13 TO 15' '11 TO 15' '16 TO 18' '22 TO 24' '19 TO 21' '25 TO 27'
 '16 TO 20' '21 TO 25' '37 TO 39' '40 TO 42' '34 TO 36' '31 TO 33'
 '28 TO 30' '26 TO 30' '31 TO 35' '36 TO 40' '43 TO 45' '46 TO 48'
 '49 TO 51']

In [10]:
# Clean the storey_range data and calculate average range
avg_storey_ranges = {}

for range_str in unique_storey_ranges:
    start, end = map(int, range_str.split(' TO '))
    avg_storey = (start + end) / 2
    avg_storey_ranges[range_str] = avg_storey
    
print(avg_storey_ranges)

{'04 TO 06': 5.0, '07 TO 09': 8.0, '10 TO 12': 11.0, '01 TO 03': 2.0, '06 TO 10': 8.0, '01 TO 05': 3.0, '13 TO 15': 14.0, '11 TO 15': 13.0, '16 TO 18': 17.0, '22 TO 24': 23.0, '19 TO 21': 20.0, '25 TO 27': 26.0, '16 TO 20': 18.0, '21 TO 25': 23.0, '37 TO 39': 38.0, '40 TO 42': 41.0, '34 TO 36': 35.0, '31 TO 33': 32.0, '28 TO 30': 29.0, '26 TO 30': 28.0, '31 TO 35': 33.0, '36 TO 40': 38.0, '43 TO 45': 44.0, '46 TO 48': 47.0, '49 TO 51': 50.0}

In [16]:
# Add a new column 'avg_storey_range' using the dictionary mapping
merged_df['avg_storey_range'] = merged_df['storey_range'].map(avg_storey_ranges)

In [17]:
merged_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,bus_stop_name,pri_sch_nearest_distance,pri_sch_name,vacancy,pri_sch_affiliation,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,avg_storey_range
0,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,...,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,5.0
1,1990-03,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,NEW GENERATION,1976,47000.0,...,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,8.0
2,1990-05,ANG MO KIO,4 ROOM,216,ANG MO KIO AVE 1,10 TO 12,88.0,NEW GENERATION,1976,55000.0,...,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,11.0
3,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,10 TO 12,73.0,NEW GENERATION,1976,47200.0,...,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,11.0
4,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,01 TO 03,73.0,NEW GENERATION,1976,34000.0,...,BLK 220,422.665013,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,2.0

## Process month feature

In [21]:
# Split 'month' column into 'year' and 'quarter'
merged_df[['year', 'quarter']] = merged_df['month'].str.split('-', expand=True)

# Define a function to map month to quarter
def map_to_quarter(month):
    month_int = int(month)
    if 1 <= month_int <= 3:
        return '1'
    elif 4 <= month_int <= 6:
        return '2'
    elif 7 <= month_int <= 9:
        return '3'
    else:
        return '4'

# Apply the function to map month to quarter
merged_df['quarter'] = merged_df['quarter'].apply(map_to_quarter)

merged_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,pri_sch_name,vacancy,pri_sch_affiliation,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,avg_storey_range,year,quarter
0,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,...,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,5.0,1990,1
1,1990-03,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,NEW GENERATION,1976,47000.0,...,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,8.0,1990,1
2,1990-05,ANG MO KIO,4 ROOM,216,ANG MO KIO AVE 1,10 TO 12,88.0,NEW GENERATION,1976,55000.0,...,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,11.0,1990,2
3,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,10 TO 12,73.0,NEW GENERATION,1976,47200.0,...,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,11.0,1990,3
4,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,01 TO 03,73.0,NEW GENERATION,1976,34000.0,...,Ang Mo Kio Primary School,45,0,177.562823,Ang Mo Kio Secondary School,224,0,2.0,1990,3

## Combining features to add interaction

In [22]:
# Combining flat_type and flat_model

# Combine 'flat_type' and 'flat_model' columns into a new column 'flat_type_model'
merged_df['flat_type_model'] = merged_df['flat_type'] + ' ' + merged_df['flat_model']

# Print the modified DataFrame
merged_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,vacancy,pri_sch_affiliation,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,avg_storey_range,year,quarter,flat_type_model
0,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,...,45,0,177.562823,Ang Mo Kio Secondary School,224,0,5.0,1990,1,3 ROOM NEW GENERATION
1,1990-03,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,NEW GENERATION,1976,47000.0,...,45,0,177.562823,Ang Mo Kio Secondary School,224,0,8.0,1990,1,3 ROOM NEW GENERATION
2,1990-05,ANG MO KIO,4 ROOM,216,ANG MO KIO AVE 1,10 TO 12,88.0,NEW GENERATION,1976,55000.0,...,45,0,177.562823,Ang Mo Kio Secondary School,224,0,11.0,1990,2,4 ROOM NEW GENERATION
3,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,10 TO 12,73.0,NEW GENERATION,1976,47200.0,...,45,0,177.562823,Ang Mo Kio Secondary School,224,0,11.0,1990,3,3 ROOM NEW GENERATION
4,1990-08,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,01 TO 03,73.0,NEW GENERATION,1976,34000.0,...,45,0,177.562823,Ang Mo Kio Secondary School,224,0,2.0,1990,3,3 ROOM NEW GENERATION