In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('final.csv')
df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
df1 = df.copy()

/var/folders/cj/29w3grxs70lgdvq77tw2_7040000gn/T/ipykernel_93300/4133549922.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('final.csv')

In [8]:
df1

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,year,quarter,inflation,normalized_resale_price,latitude,longitude
0,1998-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,10 TO 12,73.0,NEW GENERATION,1976,170500.0,...,177.562823,Ang Mo Kio Secondary School,224,0,1998,1,1.302993,222160.322453,1.366197,103.841505
1,1998-05,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,NEW GENERATION,1976,170000.0,...,177.562823,Ang Mo Kio Secondary School,224,0,1998,2,1.414592,240480.602810,1.366197,103.841505
2,1998-07,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,01 TO 03,73.0,NEW GENERATION,1976,157000.0,...,177.562823,Ang Mo Kio Secondary School,224,0,1998,3,1.625165,255150.866106,1.366197,103.841505
3,1998-07,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,01 TO 03,73.0,NEW GENERATION,1976,150000.0,...,177.562823,Ang Mo Kio Secondary School,224,0,1998,3,1.625165,243774.712840,1.366197,103.841505
4,1998-07,ANG MO KIO,4 ROOM,216,ANG MO KIO AVE 1,10 TO 12,88.0,NEW GENERATION,1976,263000.0,...,177.562823,Ang Mo Kio Secondary School,224,0,1998,3,1.625165,427418.329846,1.366197,103.841505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717069,2023-04,TAMPINES,5 ROOM,871C,TAMPINES ST 86,04 TO 06,114.0,Improved,2017,758000.0,...,436.989076,Junyuan Secondary School,188,0,2023,2,1.009759,765397.283413,1.356709,103.931385
717070,2023-07,TAMPINES,5 ROOM,871C,TAMPINES ST 86,10 TO 12,114.0,Improved,2017,795000.0,...,436.989076,Junyuan Secondary School,188,0,2023,3,1.011000,803744.958468,1.356709,103.931385
717071,2023-09,TAMPINES,4 ROOM,871C,TAMPINES ST 86,10 TO 12,94.0,Model A,2017,680000.0,...,436.989076,Junyuan Secondary School,188,0,2023,3,1.011000,687479.964476,1.356709,103.931385
717072,2023-10,TAMPINES,5 ROOM,871C,TAMPINES ST 86,10 TO 12,114.0,Improved,2017,818000.0,...,436.989076,Junyuan Secondary School,188,0,2023,4,1.000000,818000.000000,1.356709,103.931385
717073,2023-11,TAMPINES,5 ROOM,871C,TAMPINES ST 86,13 TO 15,114.0,Improved,2017,816000.0,...,436.989076,Junyuan Secondary School,188,0,2023,4,1.000000,816000.000000,1.356709,103.931385

### Preparation

In [9]:
df1.columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price',
       'address', 'commercial', 'market_hawker', 'multistorey_carpark',
       'precinct_pavilion', 'total_dwelling_units', 'postal', 'planning_area',
       'mall_nearest_distance', 'hawker_nearest_distance',
       'hawker_food_stalls', 'hawker_market_stalls', 'mrt_nearest_distance',
       'mrt_name', 'bus_interchange', 'mrt_interchange',
       'bus_stop_nearest_distance', 'bus_stop_name',
       'pri_sch_nearest_distance', 'pri_sch_name', 'vacancy',
       'pri_sch_affiliation', 'sec_sch_nearest_dist', 'sec_sch_name',
       'cutoff_point', 'affiliation', 'year', 'quarter', 'inflation',
       'normalized_resale_price', 'latitude', 'longitude'],
      dtype='object')

In [12]:
# sort by month
df1 = df1.sort_values('month')
df1.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,year,quarter,inflation,normalized_resale_price,latitude,longitude
0,1998-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,10 TO 12,73.0,NEW GENERATION,1976,170500.0,...,177.562823,Ang Mo Kio Secondary School,224,0,1998,1,1.302993,222160.322453,1.366197,103.841505
184582,1998-01,BUKIT BATOK,3 ROOM,313,BT BATOK ST 32,10 TO 12,68.0,NEW GENERATION,1986,145000.0,...,487.227927,Dunearn Secondary School,189,0,1998,1,1.302993,188933.998567,1.360250,103.747783
184083,1998-01,BUKIT BATOK,4 ROOM,231,BT BATOK EAST AVE 5,07 TO 09,91.0,NEW GENERATION,1985,251000.0,...,437.653051,Hillgrove Secondary School,205,0,1998,1,1.302993,327051.266484,1.349083,103.754518
184082,1998-01,BUKIT BATOK,3 ROOM,231,BT BATOK EAST AVE 5,07 TO 09,67.0,NEW GENERATION,1985,150000.0,...,437.653051,Hillgrove Secondary School,205,0,1998,1,1.302993,195448.964034,1.349083,103.754518
183939,1998-01,BUKIT BATOK,3 ROOM,217,BT BATOK ST 21,07 TO 09,67.0,NEW GENERATION,1984,157500.0,...,294.631828,Bukit View Secondary School,205,0,1998,1,1.302993,205221.412236,1.346734,103.754728

take the first 70% of the data as training data

this is done because there should not be any 'interpolation' between the training and test data, i.e. the training data should not have any information about the future, due to the underlying time series nature of the data.

In [13]:
# take the first 70% of the data as training data
# take the next 15% as validation data
# take the last 15% as test data

train = df1.head(int(len(df1)*0.7))
test_tmp = df1.drop(train.index)
validation = test_tmp.head(int(len(test_tmp)*0.5))
test = test_tmp.drop(validation.index)

In [14]:
train

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,year,quarter,inflation,normalized_resale_price,latitude,longitude
0,1998-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,10 TO 12,73.0,NEW GENERATION,1976,170500.0,...,177.562823,Ang Mo Kio Secondary School,224,0,1998,1,1.302993,222160.322453,1.366197,103.841505
184582,1998-01,BUKIT BATOK,3 ROOM,313,BT BATOK ST 32,10 TO 12,68.0,NEW GENERATION,1986,145000.0,...,487.227927,Dunearn Secondary School,189,0,1998,1,1.302993,188933.998567,1.360250,103.747783
184083,1998-01,BUKIT BATOK,4 ROOM,231,BT BATOK EAST AVE 5,07 TO 09,91.0,NEW GENERATION,1985,251000.0,...,437.653051,Hillgrove Secondary School,205,0,1998,1,1.302993,327051.266484,1.349083,103.754518
184082,1998-01,BUKIT BATOK,3 ROOM,231,BT BATOK EAST AVE 5,07 TO 09,67.0,NEW GENERATION,1985,150000.0,...,437.653051,Hillgrove Secondary School,205,0,1998,1,1.302993,195448.964034,1.349083,103.754518
183939,1998-01,BUKIT BATOK,3 ROOM,217,BT BATOK ST 21,07 TO 09,67.0,NEW GENERATION,1984,157500.0,...,294.631828,Bukit View Secondary School,205,0,1998,1,1.302993,205221.412236,1.346734,103.754728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324776,2013-08,YISHUN,3 ROOM,617,YISHUN RING RD,10 TO 12,73.0,Model A,1988,374000.0,...,476.325044,Naval Base Secondary School,195,0,2013,3,1.105917,413613.015394,1.419304,103.835329
633997,2013-08,BUKIT PANJANG,5 ROOM,611,BT PANJANG RING RD,16 TO 18,111.0,Improved,2002,565000.0,...,476.879553,West Spring Secondary School,220,0,2013,3,1.105917,624843.191704,1.383872,103.761860
295908,2013-08,YISHUN,4 ROOM,728,YISHUN ST 71,01 TO 03,84.0,Simplified,1987,370000.0,...,322.591199,Yishun Secondary School,200,0,2013,3,1.105917,409189.346780,1.425790,103.830527
682662,2013-08,SENGKANG,4 ROOM,436B,FERNVALE RD,16 TO 18,96.0,Model A,2010,519000.0,...,330.891376,Pei Hwa Secondary School,219,0,2013,3,1.105917,573971.002645,1.392878,103.876976
507192,2013-08,JURONG WEST,4 ROOM,766,JURONG WEST ST 74,01 TO 03,104.0,Model A,1996,420000.0,...,594.688509,Westwood Secondary School,198,0,2013,3,1.105917,464485.204453,1.349805,103.697762

In [15]:
validation

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,year,quarter,inflation,normalized_resale_price,latitude,longitude
633996,2013-08,BUKIT PANJANG,5 ROOM,611,BT PANJANG RING RD,04 TO 06,110.0,Improved,2002,523000.0,...,476.879553,West Spring Secondary School,220,0,2013,3,1.105917,578394.671259,1.383872,103.761860
70087,2013-08,JURONG EAST,3 ROOM,329,JURONG EAST AVE 1,10 TO 12,74.0,Model A,1983,363000.0,...,181.544641,Jurongville Secondary School,195,0,2013,3,1.105917,401447.926706,1.350140,103.729937
519270,2013-08,HOUGANG,5 ROOM,571,HOUGANG ST 51,07 TO 09,118.0,Improved,1997,575000.0,...,507.063500,Montfort Secondary School,204,0,2013,3,1.105917,635902.363239,1.378433,103.888023
584639,2013-08,CHOA CHU KANG,4 ROOM,673A,CHOA CHU KANG CRES,10 TO 12,103.0,Premium Apartment,1999,453000.0,...,225.006444,Unity Secondary School,212,0,2013,3,1.105917,500980.470517,1.401014,103.747524
269730,2013-08,TAMPINES,5 ROOM,254,TAMPINES ST 21,01 TO 03,126.0,Improved,1984,545000.0,...,200.476754,Pasir Ris Secondary School,216,0,2013,3,1.105917,602724.848635,1.352993,103.949350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413532,2019-05,QUEENSTOWN,3 ROOM,47,HOLLAND DR,04 TO 06,59.0,Improved,1975,338000.0,...,1155.316575,Fairfield Methodist School,241,0,2019,2,1.151449,389189.831114,1.308532,103.792385
668214,2019-05,PUNGGOL,5 ROOM,638A,PUNGGOL DR,13 TO 15,112.0,Premium Apartment,2005,450000.0,...,483.921881,Greendale Secondary School,203,0,2019,2,1.151449,518152.142015,1.400124,103.914872
611927,2019-05,JURONG WEST,5 ROOM,180,YUNG SHENG RD,13 TO 15,116.0,Improved,2001,450000.0,...,504.482811,Jurong Secondary School,224,0,2019,2,1.151449,518152.142015,1.333691,103.721266
645906,2019-05,ANG MO KIO,4 ROOM,596B,ANG MO KIO ST 52,07 TO 09,91.0,Model A,2002,640000.0,...,262.703724,Anderson Secondary School,245,0,2019,2,1.151449,736927.490866,1.372051,103.850546
196535,2019-05,JURONG WEST,5 ROOM,461,JURONG WEST ST 41,07 TO 09,121.0,Improved,1985,425000.0,...,326.721910,Yuhua Secondary School,188,0,2019,2,1.151449,489365.911903,1.349556,103.720801

In [16]:
test

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,year,quarter,inflation,normalized_resale_price,latitude,longitude
695120,2019-05,BISHAN,5 ROOM,275A,BISHAN ST 24,28 TO 30,120.0,DBSS,2011,1080000.0,...,174.144649,Whitley Secondary School,188,0,2019,2,1.151449,1.243565e+06,1.356735,103.843520
618910,2019-05,SENGKANG,5 ROOM,295C,COMPASSVALE CRES,04 TO 06,110.0,Improved,2002,385000.0,...,121.058857,Compassvale Secondary School,210,0,2019,2,1.151449,4.433079e+05,1.397300,103.899988
611799,2019-05,CLEMENTI,4 ROOM,454,CLEMENTI AVE 3,01 TO 03,86.0,Model A,2002,608000.0,...,541.552123,Nan Hua High School,243,0,2019,2,1.151449,7.000811e+05,1.312269,103.766430
546464,2019-05,WOODLANDS,4 ROOM,786B,WOODLANDS DR 60,04 TO 06,90.0,Model A2,1997,317000.0,...,190.774191,Admiralty Secondary School,197,0,2019,2,1.151449,3.650094e+05,1.445688,103.800694
44592,2019-05,BUKIT MERAH,3 ROOM,26,JLN KLINIK,01 TO 03,60.0,Standard,1969,290000.0,...,534.194170,Gan Eng Seng School,223,0,2019,2,1.151449,3.339203e+05,1.288171,103.828454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643428,2023-12,BUKIT PANJANG,5 ROOM,469,SEGAR RD,04 TO 06,110.0,Premium Apartment,2002,540000.0,...,664.293750,Greenridge Secondary School,188,0,2023,4,1.000000,5.400000e+05,1.387889,103.773288
203943,2023-12,TAMPINES,4 ROOM,249,TAMPINES ST 21,10 TO 12,104.0,Model A,1984,620000.0,...,308.601657,Pasir Ris Secondary School,216,0,2023,4,1.000000,6.200000e+05,1.351868,103.948463
203942,2023-12,TAMPINES,4 ROOM,249,TAMPINES ST 21,01 TO 03,102.0,Model A,1984,500000.0,...,308.601657,Pasir Ris Secondary School,216,0,2023,4,1.000000,5.000000e+05,1.351868,103.948463
432551,2023-12,CHOA CHU KANG,4 ROOM,220,CHOA CHU KANG CTRL,07 TO 09,110.0,Model A,1990,518000.0,...,731.650958,Chua Chu Kang Secondary School,211,0,2023,4,1.000000,5.180000e+05,1.381931,103.745583
321140,2023-12,JURONG EAST,4 ROOM,52,TEBAN GDNS RD,07 TO 09,83.0,Simplified,1987,450000.0,...,943.141497,Commonwealth Secondary School,237,0,2023,4,1.000000,4.500000e+05,1.321010,103.737483

In [17]:
# print the proportion of each dataset to the total
print('train:', len(train)/len(df1))
print('validation:', len(validation)/len(df1))
print('test:', len(test)/len(df1))

train: 0.6999988843550317
validation: 0.14999986054437897
test: 0.15000125510058934

In [18]:
# save the data to csv
train.to_csv('train.csv', index=False)
validation.to_csv('validation.csv', index=False)
test.to_csv('test.csv', index=False)